<ng-container *ngIf="isAdminRoute(); else mainLayout">
    <!-- Admin layout -->
    <!-- Custom styles for this template-->
    <router-outlet></router-outlet>
</ng-container>

<ng-template #mainLayout>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">Car<span>Book</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                    aria-controls="ftco-nav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                        <a routerLink="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="'active'"><a routerLink="/cars" class="nav-link">Cars</a></li>
                    <li class="nav-item" [routerLinkActive]="'active'"><a *ngIf="loggedIn()" routerLink="/update_profile" class="nav-link">Profile</a></li>
                    <li class="nav-item" [routerLinkActive]="'active'"><a *ngIf="loggedIn()" routerLink="/user_rents" class="nav-link">Rents</a></li>
                    <li class="nav-item" [routerLinkActive]="'active'"><a routerLink="/contact" class="nav-link">Contact</a></li>
                    <li class="nav-item" [routerLinkActive]="'active'"><a *ngIf="!loggedIn()" routerLink="/login" class="nav-link">Login</a></li>
                    <li class="nav-item" [routerLinkActive]="'active'"><a *ngIf="loggedIn()" (click)="logout()" class="nav-link">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    <router-outlet>

    </router-outlet>

    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2"><a href="#" class="logo">Car<span>book</span></a></h2>
                        <p>Carbook best car rental agency!</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Information</h2>
                        <ul class="list-unstyled">
                            <li><a routerLink="/" class="py-2 d-block">Home</a></li>
                            <li><a routerLink="/cars" class="py-2 d-block">Cars</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Customer Support</h2>
                        <ul class="list-unstyled">
                            <li><a routerLink="/contact" class="py-2 d-block">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">Brace Grim 32, Belgrade, Serbia</span>
                                </li>
                                <li><a href="#"><span class="icon icon-phone"></span><span
                                        class="text">+381 60345678</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">david.stevic.58.20@ict.edu.rs</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</ng-template>
